{{#each this}}
<div>
    <p class="countryOne"><img src="{{flags.svg}}" width="50px" /> {{name.official}}</p>
    <p><span class="bold">Capital:</span> {{capital}}</p>
    <p><span class="bold">Population:</span> {{population}}</p>
    <p><span class="bold">Languages:</span> {{languages}}</p>
</div>
{{/each}}